@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'KasperskyBold';
    src: url('./fonts/KasperskySemiBold.ttf');
}
@font-face {
    font-family: 'KasperskyMedium';
    src: url('./fonts/KasperskyMedium.ttf');
}
